<template>
  <div>
    <h3 v-if="$route.params.id">Spyfall (#{{$route.params.id}})</h3>
    <h3 v-else>Spyfall</h3>
    <router-link to="/" tag="button" class="btn lime hvr-pulse-grow">
      Back to Home
    </router-link>
    <button class="float-right btn aqua hvr-pulse-grow" @click="createLobby">
      <i class="fas fa-plus"></i> Create Lobby
    </button>
    <div class="text-center" v-if="lobbies.length === 0">-- Please Create Lobby --</div>
    <table class="table" v-else>
      <thead>
        <th>#</th>
        <th>name</th>
        <th>members</th>
        <th>actions</th>
      </thead>
      <tbody>
        <tr v-for="(lobby, index) in lobbies" :key="lobby.id">
          <td>{{index+1}}</td>
          <td>
            <input type="text" class="form-control" v-model="lobby.name" @input="updateLobby(lobby)">
          </td>
          <td>
            <input type="number" class="form-control" v-model="lobby.max" @input="updateLobby(lobby)">
          </td>
          <td>
            <router-link :to="`/spyfall/${lobby.id}`" tag="button" class="btn aqua hvr-pulse-grow">
              <i class="fas fa-play"/> Join
            </router-link>
            <button class="btn pink" style="margin-left: 5px;" @click="deleteLobby(lobby)">
              <i class="fas fa-trash"/>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      lobbies: []
    }
  },
  firestore() {
    return {
      lobbies: this.$db.collection('lobby').orderBy('createdAt')
    }
  },
  methods: {
    createLobby() {
      this.$db.collection('lobby').add({
        name: 'untitled game',
        game: this.$db.collection('game').doc('spyfall'),
        max: 10,
        createdAt: new Date()
      })
    },
    deleteLobby(lobby) {
      this.$db.collection('lobby').doc(lobby.id).delete()
    },
    updateLobby(lobby) {
      const temp = {...lobby}
      delete temp['.id']
      this.$db.collection('lobby').doc(lobby.id).set(temp)
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  margin-bottom: 8px;
}
</style>

