@import '@/assets/css/color.scss';

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

body:lang(th) {
  font-family: 'Pridi', sans-serif;
}

p,div,span,h1,h2,h3,h4,h5 {
  color: $black;
}

.btn {
  color: $black;
  background-color: $grey;
  border: 2px $black solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lime {
  color: $lime;
  border: 2px $lime solid;
  background-color: white;
}

.pink {
  color: $pink;
  border: 2px $pink solid;
  background-color: white;
}
.aqua {
  color: $aqua;
  border: 2px $aqua solid;
  background-color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}