<template>
  <div class="content-center">
    <h3>Board Game Hub</h3>
    <router-link to="/spyfall" tag="button" class="btn lime link hvr-pulse-grow">
      <i class="fas fa-play"/> Spyfall
    </router-link>
    <router-link to="/avalon" tag="button" class="btn pink link hvr-pulse-grow">
      <i class="fas fa-play"/> The Resistance: Avalon
    </router-link>
    <router-link to="/werewolf" tag="button" class="btn aqua link hvr-pulse-grow">
      <i class="fas fa-play"/> WereWolf
    </router-link>
  </div>
</template>

<script>
import firebase from 'firebase'
export default {}
</script>

<style lang="scss" scoped>
.link {
  margin-top: 8px;
  display: block;
}
</style>

