<template>
  <nav class="border fixed split-nav">
    <div class="nav-brand">
      <h3><a href="/#/">Board Game Hub</a></h3>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <button>
      <label for="collapsible1">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </label>
      </button>
      <div class="collapsible-body">
        <ul class="inline">
          <li>
            <router-link to="/" tag="a">Game Lobby</router-link>
          </li>
          <li><a href="/#/about">About</a></li>
          <li v-if="user">
            <img :src="user.image" alt="user profile image">
          </li>
          <li v-if="user">{{user.name}}</li>
          <li v-if="user"><button class="btn-danger" @click="facebookLogout">Logout</button></li>
          <li v-if="!user" >
            <button class="btn-secondary btn-block" @click="facebookLogin">
              <i class="fab fa-facebook-square"></i> Login
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    data() {
      return {
        user: null
      }
    },
    methods: {
      async facebookLogin() {
        this.$firebase.auth().languageCode = 'en_US'
        let provider = new this.$firebase.auth.FacebookAuthProvider()
        provider.addScope('email')
        let result = await this.$firebase.auth().signInWithPopup(provider)
        this.user = {
          name: result.user.displayName,
          image: result.user.photoURL
        }
      },
      async facebookLogout() {
        let status = await this.$firebase.auth().signOut()
        this.user = null
      }
    }
  }
</script>

<style lang="scss" scoped>
.login-item {
  display: inline;
}
</style>
