<template>
  <div>
    <navbar/>
    <div class="container-fluid">
      <div>
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link>
      </div>
    </div>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navbar from './components/Navbar';
export default {
  components: {
    Navbar
  },
};
</script>

<style lang="scss" scoped>
#fb-login {
  position: absolute;
  top: 8px;
  right: 8px;
}

#profileImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
}

.container-fluid {
  margin-top: 25px;
  margin-bottom: 25px;
}
</style>
